<html>
<body>

  <form action='{{url_for("editfounder", startup_id=startup_id, founder_id=founder.id)}}' method='POST'>

    <p>Edit the Menu Item name:</p>

    {% with message= get_flashed_messages()%}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>
      <strong>{{message}}</strong>
      {% endfor %}
      </li>
    </ul>
    {% endif %}
    {% endwith %}

    <div>
  <input type= 'text', name='name', size='30' placeholder={{founder.name}}>
  <input type= 'submit', value='Edit'>
    </div>
  <a href= '{{url_for("startup", startup_id=founder.startup_id)}}'>Cancel</a>

  </form>


</body>
</html>
